{% extends 'base.html' %}

{% block app_content %}
    <h1>{{ title }}</h1>

    <button id="create">New Quiz</button>

    <table id="quizzes" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Creator</th>
                <th>Questions</th>
                <th>Time to Finish</th>
                <th>Created</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" charset="utf8">
    $(document).ready( function () {
        var table_selector = '#quizzes';

        var table = $(table_selector).DataTable( {
            "ajax": {
                "url": "/api/quiz",
                "dataSrc": "objects",
                "pagingType": "full_numbers"
            },
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "user_name" },
                { "data": "num_questions" },
                { "data": "time_to_finish" },
                { "data": "timestamp" },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<span class="actions"><a href="" class="take_quiz">Take</a><a href="" class="edit_quiz">Edit</a></span> / <a href="" class="remove_quiz">Delete</a>'
                }
            ],
            rowCallback: function(row, data, index) {
              if (data.locked == true) {
                $("td:eq(5) span.actions a.edit_quiz", row).css( "display", "none" );
              } else {
                $("td:eq(5) span.actions a.take_quiz", row).css( "display", "none" );
              }
            }
        } );

        $('#create').click(function() {
            $.ajax({
                type: "POST",
                url: "/api/quiz",
                data: JSON.stringify({}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    alert("Quiz created.");
                    location.href = "/quiz/edit/" + data["id"];
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            } );
        } );

        // Take Quiz
        $(table_selector).on('click', 'a.take_quiz', function (e) {
            e.preventDefault();  // don't follow link

            var row_data = table.row($(this).closest('tr')).data();
            var quiz_id = row_data['id'];

            location.href = "/quiz/" + quiz_id;
        } );

        // Edit a record
        $(table_selector).on('click', 'a.edit_quiz', function (e) {
            e.preventDefault();  // don't follow link

            var row_data = table.row($(this).closest('tr')).data();
            var quiz_id = row_data['id'];

            location.href = "/quiz/edit/" + quiz_id;
        } );

        // Delete a record
        $(table_selector).on('click', 'a.remove_quiz', function (e) {
            e.preventDefault();  // don't follow link

            var row = table.row($(this).closest('tr'));
            var row_data = row.data();
            var quiz_id = row_data['id'];
            var quiz_name = row_data['name'];

            $.ajax({
                type: "DELETE",
                url: "/api/quiz/" + quiz_id,
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    alert("Quiz " + quiz_name + " deleted.");
                    row.remove();
                    row.draw();
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            } );
        } );
    } );
</script>
{% endblock %}