{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Quiz {{ quiz_id }}</h1>
    <div class="row">
        <div class="col">
            <div id="subject"></div>
            <div id="question_num"></div>
            <div id="prompt"></div>
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <div id="surveyElement"></div>
    <div id="surveyResult"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- SurveyJS -->
    <script src="https://surveyjs.azureedge.net/1.0.49/survey.jquery.min.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready( function () {
            Survey.StylesManager.applyTheme("bootstrap");
            Survey.defaultBootstrapCss.navigationButton = "btn btn-green";
            window.survey = new Survey.Model();

            var quiz_id = {{ quiz_id }};

            $.get({
                url: "/api/quiz/" + quiz_id,
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    var page = survey.addNewPage("page1");

                    data["questions"].forEach( function( question ) {
                        var q = page.addNewQuestion(
                            "text", "question_" + question["id"]);
                        q.title = question["prompt"];
                        q.placeHolder = "Jon Snow";
                    });
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            } );

            survey
                .onComplete
                .add(function (result) {
                    document
                        .querySelector('#surveyResult')
                        .innerHTML = "result: " + JSON.stringify(result.data);
                });

            $("#surveyElement").Survey({model: survey});

        } );
    </script>
{% endblock scripts %}



<!--<script type="text/javascript" charset="utf8">
    $(document).ready( function () {
        var quiz = {};
        var quiz_id = {{ quiz_id }};

        $.get({
            url: "/api/quiz/" + quiz_id,
            contentType: "application/json; charset=utf-8",
            success: function(data){
                var quiz = data;
                location.href = "/quiz/edit/" + data["id"];
            },
            failure: function(errMsg) {
                alert(errMsg);
            }
        } );
    } );

    $(document).ready( function () {
        var table_selector = '#quizzes';

        var table = $(table_selector).DataTable( {
            "ajax": {
                "url": "/api/quiz",
                "dataSrc": "objects",
                "pagingType": "full_numbers"
            },
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "user_name" },
                { "data": "num_questions" },
                { "data": "timestamp" },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<a href="" class="edit_quiz">Edit</a> / <a href="" class="remove_quiz">Delete</a>'
                }
            ]
        } );

        $('#create').click(function() {
            $.ajax({
                type: "POST",
                url: "/api/quiz",
                data: JSON.stringify({}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    alert("Quiz created.");
                    location.href = "/quiz/edit/" + data["id"];
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            } );
        } );

        // Edit a record
        $(table_selector).on('click', 'a.edit_quiz', function (e) {
            e.preventDefault();  // don't follow link

            var row_data = table.row($(this).closest('tr')).data();
            var quiz_id = row_data['id'];

            location.href = "/quiz/edit/" + quiz_id;
        } );

        // Delete a record
        $(table_selector).on('click', 'a.remove_quiz', function (e) {
            e.preventDefault();  // don't follow link

            var row = table.row($(this).closest('tr'));
            var row_data = row.data();
            var quiz_id = row_data['id'];
            var quiz_name = row_data['name'];

            $.ajax({
                type: "DELETE",
                url: "/api/quiz/" + quiz_id,
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    alert("Quiz " + quiz_name + " deleted.");
                    row.remove();
                    row.draw();
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            } );
        } );
    } );
</script>-->
