{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Quiz {{ quiz_id }}</h1>

    <div id="surveyElement"></div>
    <div id="surveyResult"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- SurveyJS -->
    <script src="https://surveyjs.azureedge.net/1.0.49/survey.jquery.min.js"></script>

    <!-- UnderscoreJS -->
    <script src="https://underscorejs.org/underscore-min.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready( function () {
            Survey.StylesManager.applyTheme("bootstrap");
            Survey.defaultBootstrapCss.navigationButton = "btn btn-green";
            Survey.surveyStrings.loadingSurvey = "Please wait. Your quiz is loading…";
            window.survey = new Survey.Model({
                showProgressBar: "bottom",
                showTimerPanel: "top",
                maxTimeToFinishPage: 30,
                firstPageIsStarted: true,
            });

            var jqxhr = $.getJSON( "/api/quiz/" + {{ quiz_id }}, function() {
              console.log( "success" );
            })
              .done(function( quiz ) {
                var questions = _.shuffle(quiz["questions"]);

                survey.title = quiz["name"];
                survey.maxTimeToFinish = survey.maxTimeToFinishPage * questions.length;

                var q = survey.addNewPage().addNewQuestion("html");
                q.html = `You are about to start a quiz.<br/> You have
                  ${survey.maxTimeToFinishPage} seconds for every page and
                  ${(survey.maxTimeToFinish / 60)} minutes for the whole survey
                  of ${questions.length} questions.<br/> Please click the <b>'
                  ${survey.startSurveyText}'</b> button when you are ready.`;

                questions.forEach( function( question ) {
                    var page = survey.addNewPage();
                    var q = page.addNewQuestion(
                        "text", question["id"].toString());
                    q.title = question["prompt"];
                    q.correctAnswer = question["correct_answer"];
                });

                console.log( "second success" );
              })
              .fail(function( errMsg ) {
                alert("error");
                console.log(errMsg);
                console.log( "error" );
              })
              .always(function() {
                console.log( "complete" );
              });

            survey
              .onValidateQuestion
              .add(function (s, options) {
                options.question.readOnly = true;

                if (options.value != options.question.correctAnswer) {
                  options.error = "Incorrect.";
                    if (true == true) {
                      options.error += ` The correct answer is
                         '${options.question.correctAnswer}'.`;
                    }
                }
              });

            survey
                .onCompleting
                .add(function (s, options) {
                  console.log("time spent: " + s.timeSpent);

                  s.completedHtml = `<h4>You have answered correctly
                    <b>{correctedAnswers}</b> out of
                    <b>{questionCount}</b> questions in ${s.timeSpent} seconds.
                    </h4>`;
                });

            survey
                .onComplete
                .add(function (result) {
                    //By default clear methods clear all data and go to the first page
                    //Here we tell survey keep the data by passing the first parameter as false
                    //result.clear(false);
                    //Put survey into read-only mode
                    //result.mode = "display";
                    //Set survey to single page
                    //result.isSinglePage = true;

                    //document
                    //    .querySelector('#surveyResult')
                    //    .innerHTML = "result: " + result_string;
                    let post_data = {
                      "score": survey.getCorrectedAnswerCount(),
                      "quiz_id": {{ quiz_id }},
                      "user_id": {{ user_id }},
                      "result": JSON.stringify(result.data)
                      //"result": JSON.stringify(result.data)
                    };

                    console.log(post_data);

                    var jqxhr = $.post({
                      url: "/api/score",
                      contentType: "application/json; charset=UTF-8",
                      data: JSON.stringify(post_data),
                      success: function() {
                        //alert( "success" );
                      }})
                      .done(function( response ) {
                        let quiz_id = response["quiz_id"];
                        let score_id = response["id"];

                        document
                            .querySelector('#surveyResult')
                            .innerHTML = '<a href="/quiz/review/' + quiz_id + '/' + score_id + '" class="review">Review</a>'
                        //alert( "second success" );
                      })
                      .fail(function( errMsg ) {
                        alert("error");
                        console.log(errMsg.responseText);
                        console.log( "error" );
                      })
                      .always(function() {
                        //alert( "finished" );
                      });
                });

            $("#surveyElement").Survey({model: survey});

        } );
    </script>
{% endblock scripts %}
