{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="en"{% endblock %}

{% block title %}
    {%- if title -%}
        {{ title }} - Quick Quizzes
    {%- else -%}
        {{ 'Welcome to Quick Quizzes!' }}
    {%- endif -%}
{% endblock %}

{% block styles %}
    {{ super() }}

    <!-- Datatables -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {{nav.main_nav.render()}}
{% endblock navbar %}

{% block content %}
    <div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    <div class="container-fluid">
        {% block app_content %}{% endblock app_content %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock scripts %}
