{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Quick Quizzes
    {% else %}
        {{ 'Welcome to Quick Quizzes!' }}
    {% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block navbar %}
    {{nav.main_nav.render()}}
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}
